:root {
  --bcit-blue: #003c71;
  --bcit-yellow: #fff400;
  --accent-purple: #602aa9;
  --accent-turquoise: #00a69d;
  --rollover-blue: #0055ce;
  --link-blue: #0069ff;
}

.navbar-brand {
  color: var(--bcit-yellow);
}

.navbar-dark .navbar-toggler-icon {
  /*
  * Unfortunately, we need to dig through this huge line to find the rgba
  * if we want to change the color of our narbar toggle icon.
  */
  background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"
  );
}

.bg-primary {
  background-color: var(--bcit-blue) !important;
}

.btn{
  background-color: var(--bcit-blue);
}

.btn :hover{
  background-color: var(--rollover-blue)
}