:root {
  --bcit-blue: #003c71;
  --bcit-yellow: #fff400;
  --accent-purple: #602aa9;
  --accent-turquoise: #00a69d;
  --rollover-blue: #0055ce;
  --link-blue: #0069ff;
}

ul {
  list-style-type: none;
}

/* #region header */

/* #region navbar */
.navbar-brand {
  color: var(--bcit-yellow);
}

.navbar-dark .navbar-toggler-icon {
  /*
  * Unfortunately, we need to dig through this huge line to find the rgba
  * if we want to change the color of our narbar toggle icon.
  */
  background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"
  );
}
/* #endregion navbar*/

/* #region buttons */
.bg-primary {
  background-color: var(--bcit-blue) !important;
}

.btn{
  background-color: var(--bcit-blue);
}

.btn :hover{
  background-color: var(--rollover-blue)
}
/* #endregion buttons */

/* #region searchBar */
.search-bar {
  display: flex; 
  align-items: center; 
  flex: 1;
  border-radius: 24px;
  background-color: #FFF;
}

.input-group {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #fff400;
  font-size: 16px;
  border-radius: 24px;
  outline: none;
  border: none;
  box-shadow: none !important;
  background-color: transparent;
  flex: 1; 
  margin-right: 8px; 
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px; 
}

.search-button:hover {
  background-color: transparent; 
}

.suggestionBox {
  width: auto;
  display: none;
  padding: 10px 12px;
  background-color: #FFF;
  font-size: 16px;
  border-radius: 24px;
  flex: 1; 
  z-index: 9;
}

/* #endregion searchbar*/
/* #endregion header*/

/* #region map */
#mapArea {
  background-color: var(--accent-turquoise);
}

#roadsAndPaths {
  stroke: var(--bcit-yellow);
  fill: none;
}

#buildings {
  fill: var(--accent-purple);
  stroke: var(--bcit-yellow);
}
/* #endregion map*/